@font-face {
    font-family: 'Zabars';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html {
    height: 100%;
}

body {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 4px;
    height: 100%;
    margin: 0;
}

.title {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/bg/epl-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.start-screen {
    width: 100%;
    aspect-ratio: 720 / 480;
    display: flex;
    justify-content: center;
}

.start-screen-img {
    display: block;
    max-width: 720px;
    width: 100%;
    aspect-ratio: 720 / 480;
    border-radius: 16px;
}

.start-navigation {
    position: absolute;
    left: 3rem;
    right: 3rem;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start-button-container {
    display: flex;
    justify-content: center;
}

.main-button {
    text-align: center;
    font-family: inherit;
    color: white;
    letter-spacing: 4px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    padding: 1rem 1.2rem;
    background-color: #FFC100;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.main-button:hover {
    transform: scale(1.05);
}

.main-button:active {
    transform: scale(1);
}

.start-introduction,
.start-control {
    cursor: pointer;
    font-size: 1.75rem;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.25);
}

.start-introduction:hover,
.start-control:hover {
    color: #FFC100;
}

.canvas {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
            
.control-overview {
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
    border-radius: 16px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn .25s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.introduction {
    position: absolute;
    top: 1rem;
    right: 2rem;
    left: 2rem;
    bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 16px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn .25s ease-in-out forwards;
}

.control-heading {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 3rem;
}

.introduction-heading {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 2rem;
}

.close-icon {
    fill: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 38px;
    cursor: pointer;
}

.close-icon:hover {
    fill: #FFC100;
}

.introduction-info {
    font-size: 1.5rem;
    line-height: 1.1;
    margin: 0;
}

.control-keys-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 5rem;
}

.control-key {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.control-key:last-child {
    padding-bottom: 0
}

.key-info {
    font-size: 1.25rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3)
}

.key-icon {
    width: 40px;
}

.key-icon-space {
    width: 180px;
    height: 40px;
    object-fit: cover;
}

.d-none {
    display: none;
}

.icons {
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-container {
    padding: 0.55rem;
    background-color: transparent;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.icon-container:hover {
    background-color: #FFC100;
}

.icon {
    display: inline-block;
    width: 24px;
    -webkit-filter: invert(100%)
    drop-shadow(0 0 2px rgb(0 0 0 / 0.25));
    filter: invert(100%)
    drop-shadow(0 0 2px rgb(0 0 0 / 0.25));
    transition: all .25s ease-in-out;
}

.icons-center {
    display: flex;
    gap: 1rem;
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 720 / 480;
    border-radius: 16px;
    overflow: hidden;
}

.victory,
.defeat {
    width: 100%;
    height: 100%;
}

.victory-img,
.defeat-img {
    display: block;
    /* max-width: 720px; */ /* fullscreen*/
    width: 100%;
    height: 100%;
    aspect-ratio: 720 / 480;
    border-radius: 16px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.victory-button-container,
.defeat-button-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.op-1 {
    opacity: 1;
}

@media only screen and (max-width: 720px) {
    .content {
        justify-content: center;
    }

    .title {
        padding-top: 0;
    }

    .game-container {
        width: 100%;
    }

    .canvas {
        width: 100%;
    }

    .end-screen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    .title {
        display: none;
    }
    
    .canvas {
        height: 100vh;
    }

    .start-screen-img {
        height: 100vh;
    }

    .end-screen {
        height: 100vh;
    }

    .defeat-img,
    .victory-img {
        height: 100vh;
    }
}